/*$color: #c2c0c0;*/ /*Переменная - задает цвет для элементов (темно-серый)*/
$colors: ( /*map - похоже на объект*/
	generalBackground: #d6d6d6,
	secondBackground: #c2c0c0
);
	
/*mixin - это функция*/ 
@mixin href($color_href, $color_hover) { 
	color: $color_href;
	display: block; /*Делаем ссылки блочными элементами*/
	padding: 8px 12px; /*Сверху снизу по 8 пикселей, справа слева по 12*/
	text-decoration: none; /*Чтобы ссылки не подчеркивались*/
	text-transform: uppercase; /*Свойство - делает все буквы верхним регистром*/
	position: relative;
	
	&:hover 
	{
        background-color: $color_hover;
    }
	&::before 
	{
		content: ''; /*Если не задать content, то псевдо-элемент не появится*/
		bottom: 0;
		right: 0; /*Указываем что этот элемент будет находиться снизу справа*/
		position: absolute;
		width: 0%; /*Займет 100% ширины ссылки*/
		height: 1px;
		background-color: black;
		transition: 0.2s;	
	}
	&:hover:before 
	{
		width: 100%;
		left: 0;
	}
	&:hover 
	{
		/*color: blue;*/
		/*background-color: #c2c0c0;*/
		/*box-shadow: inset 0 0 0 3px grey;*/
		transition: 0.05s;
		transform: scale(1.02); /*При наведении блок будет увеличиваться*/
		text-decoration: none;
	}
	&:active 
	{
		font-weight: 900;
	}	
}