@import '_variables1'; /*Подключили файл с mixin и переменными*/

@media screen and (max-width: 1583px) 
{
	.content_1200px
	{
		#with_1912px
		{
			text-align: center;
			.grid
			{
				/*display: inline-block;*/
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: 1272px)
{
	.wrapper
	{
		.header
		{
			text-align: left; /* свойство text-align работает только с блочными элементами,*/
			.content_1200px
			{
				#sidebar
				{
					font-size: 30px; 
				}
				
			}
		}	
		section
		{
			.navi 
			{
				ul
				{
					li
					{
						font-size: 25px;
					}
				}
			}
		}
	}
	.content_1200px
	{
		#with_1912px
		{
			.grid
			{
				.one-section
				{
					width: 339px;
					.grid_repair_item
					{
						width: 339px;
						height: 170px;
					}
					.text_1
					{
						padding: 0; 
						/*margin-left: 30px;*/
						height: 160px;
						.main_p
						{
							font-size: 20px;
							margin: 0;
						}
						.li
						{
							font-size: 16px;
						}
					}
					.text_2
					{
						padding: 0; 
						/*margin-left: 30px;*/
						height: 160px;
						.main_p
						{
							font-size: 20px;
							margin: 0;
						}
						.li
						{
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1085px) /*Эти стили будут применены для экранов с шириной 1085px либо меньше */
{
	.wrapper
	{
		text-align: center;
		.header
		{
			text-align: left; /* свойство text-align работает только с блочными элементами,*/
			.content_1200px
			{
				#sidebar
				{
					font-size: 20px; 
					.flex_right
					{
						display: block;
						text-align: right;
					}
				}
				
			}
		}	
		section
		{
			.navi 
			{
				.nav_mobile_menu
				{	
					display: block; 
					
				}
				#navi-main
				{
					.line_top_bottom_menu
					{
						border-top: 0px solid black;	
						border-bottom: 0px solid black;
						li
						{
							.search_normal
							{
								display: none;
							}
						}
					}
				}
				.image_avat_normal /*Отключаем нормальную картинку*/
				{
					display: none;	
				}
				ul  
				{
					display: none; /*По умолчанию меню скрыто*/ 
					li
					{
						display: block;  /*Или в столбик - display: block; или в строку display: inline-block;*/
						text-align: left;
						a
						{
							@include href(yellow, #c2c0c0);
						}
					}
				}  
				.navi-main-open 
				{
					display: inline-block; 
					background-color: #c2c0c0;
					margin-left: 25px;
					float: left;
					margin-top: 0px;
					margin-bottom: 10px;
				}
			}
		
		
		}
	}
		
	.content_1200px
	{
		#with_1912px
		{
			.grid /*																	*/
			{
				.one-section
				{
					width: 294px;
					font-size: 10px;
					.text_2
					{
						height: 250px;
					}
					.text_1
					{
						display: block;
						padding: 0; 
						/*margin-left: 30px;*/
						height: 200px;
					}
					.text_2
					{
						display: block;
						padding: 0; 
						/*margin-left: 30px;*/
						height: 200px;
					}
					.grid_repair_item
					{
						width: 294px;
						height: 140px;
					}
				}
			}
		}
	}
	.content_1200px
	{
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		section
		{
			.infoAboutServiceCenter
			{
				font-size: 19px;
				/*margin-top: 5px;*/
				/*margin: 0 25px;*/
				#a0
				{
					font-size: 40px;
				}
				#a1
				{
					font-size: 29px;
					color: black;
				}
				#a2
				{
					font-size: 29px;
					color: black;
				}
			}
		}
	}
	.infoAboutServiceCenterWithSliders
	{
		display: block;
		.page_row
		{
			width: 100%;
			margin-bottom: 0px;
			.image-slider 
			{
				.image-slider_wrapper
				{
					margin-bottom: 5px;
					.image-slider_slide
					{
						.image-slider_image
						{
							.slider_item 
							{
								/*background-image: url(images/slide_1.jpg);*/
								padding-top: 53.7%;
								/*Высота слайдера, автоматически резинится(высота автоматически резинится под ширину)*/
								
							}
						}
					}
				}
			}
		}
	}
	
	
} 