@media screen and (max-width: 1912px) /*Эти стили будут применены для экранов с шириной 1912px либо меньше */
{
	.infoAboutServiceCenter
	{
		float: left;
	}
	.grid
	{
		display: inline-block;
	}
	
}

@media screen and (max-width: 1085px) /*Эти стили будут применены для экранов с шириной 1085px либо меньше */
{
	section
	{
		margin-right: 25px;
	}
	.header
	{
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 992px) /*Эти стили будут применены для экранов с шириной 992px либо меньше */
{
	body
	{
		font-size: 90%;
	}
	section
	{
		font-size: 80%;
	}
	
}