@media screen and (max-width: 1912px) /*Эти стили будут применены для экранов с шириной 1912px либо меньше */
{
	.infoAboutServiceCenter
	{
		float: left;
	}
	.grid
	{
		display: inline-block;
	}
	
}

@media screen and (max-width: 1085px) /*Эти стили будут применены для экранов с шириной 1085px либо меньше */
{
	section
	{
		margin-right: 25px;
	}
	.wrapper
	{
		text-align: center;
	}
	#sidebar
	{
		font-size: 30px;
	}
	li
	{
		font-size: 30px;
	}
	.header
	{
		margin-bottom: 50px;
	}
	.text_2
	{
		height: 325px;
	}
	.infoAboutServiceCenter
	{
		font-size: 19px;
	}
	#a0
	{
		font-size: 40px;
	}
	#a1
	{
		font-size: 29px;
		color: black;
	}
	#a2
	{
		font-size: 29px;
		color: black;
	}

}

@media screen and (max-width: 992px) /*Эти стили будут применены для экранов с шириной 992px либо меньше */
{
	body
	{
		font-size: 90%;
	}
	section
	{
		font-size: 90%;
	}
	
}