body 
{
	font: 16px/1.2 'Times New Roman'; /*Свойство - позволяет одновременно задать несколько характеристик шрифта и текста.
	Первое значение размер/межстрочное расстояние шрифта, второе шрифт*/
	color: black;
	font-weight: 300; 
	min-width: 960px; /*Свойство - устанавливает минимальную ширину элемента*/
	background-color: #d6d6d6;
	margin: 0 25px;
}
.wrapper
{
	width: auto;
}
.header
{
	text-align: center;
	height: 50px;
}
.header h1 
{
	line-height: 50px;
	font-size: 40px;
}

.navi ul
{
	/*text-align: center; Делает пункты меню по центру. Это сработало так как мы сделали элементы li инлайн-блоками, если бы использовали float: ... то text-align: center; не сработал бы*/ 
	list-style: none; /*Чтобы небыло кружочков от тега ul*/
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	
	/*position: relative;*/
}
.navi ul li
{
	display: inline-block; 
}
.navi ul li a
{
	color: black;
	display: block; /*Делаем ссылки блочными элементами*/
	padding: 8px 12px; /*Сверху снизу по 8 пикселей, справа слева по 12*/
	text-decoration: none; /*Чтобы ссылки не подчеркивались*/
	text-transform: uppercase; /*Свойство - делает все буквы верхним регистром*/
}
.navi ul li a:hover
{
	color: #000;
	box-shadow: inset 0 0 0 3px grey;
	transition: 1.0s transform;
	transform: scale(1.1); /*При наведении блок будет увеличиваться*/
}
/*.sliding-line  Скользящая линия (при наводке)*/
/*{
	position: absolute; *//*Чтобы наша линия позиционировалась не относительно всей страницы, а в пределах меню, 
	нужно написать position: relative; для тега <ul>(который является родителем) */
	/*left: 0;*//*Задаем ей начальное местоположение*/
	/*bottom: -2px; *//*Так как нижнее подчеркивание составляет 2px, и чтобы скользящая линия находилась на одном уровне нужно написать -2px;*/
	/*height: 2px;*/ /*Задаем высоту линии*/	
	/*background-color: green;*/
/*}*/
#sidebar
{
	float: right;
	padding-right: 20px;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.slider_item
{
	background-repeat: no-repeat;
	height: 435px; /*Высоту должны задать именно здесь, у каждого слайда, т.к. они имеют нулевую высоту и мы их не увидим если зададим в другом месте*/
	/*padding-top: 60%;*/
	
}
.page_row
{
	width: 640px;
}
.page_row
{
	display: inline-block; /*Нужно, чтобы наш слайдер занимал пространство только под свой контент, и не больше
	до этого выделялось все оранжевым*/
}
.slider .owl-dot span 
{
	background-color: #fff;
	border: 1px solid #ccc;
	width: 16px; /*1rem = 16px*/
	height: 16px;
	display: block; /*Так как <span> это inline элемент, а чтобы ширина и высота сработали, нужно сделать его блочным элементом*/
	
}
.slider .owl-dot.active span  /*У элемента <span> должно быть сразу одновременно два класса .owl-dot.active, поэтому пишем слитно*/
{
	background-color: black;
}
.slider .owl-dot:hover span
{
	border-color: black;
}
.slider .owl-dot
{
	display: inline-block;
	margin: 0 8px;
}
.slider .owl-dots
{
	text-align: center;
	/*С помощью позиционирования можем разместить кнопки, так как наш слайдер имеет свойство position: relative;
	=> кнопкам можем задать position: absolute;*/
	position: absolute;
	bottom: 0; /*Говорим, чтобы блок растянулся по нижней, левой, правой границах(прижался вплотную к ним)*/
	left: 0;
	right: 0;
}

.infoAboutServiceCenter
{
	float: right;
	width: 1200px;
	height: 435px;
	background-color: #c2c0c0;
	border: 1px solid black; 
}
#a0
{
	font-size: 30px;
}
#a1
{
	font-size: 20px;
	color: black;
}
#a2
{
	font-size: 20px;
	color: black;
}

#a3
{
	display: inline-block;
	padding: 30px;
	background-color: #c2c0c0;
	font-size: 40px;
	border: 1px solid black; 
}

.grid
{
	/*display: flex;
	flex-direction: row;
	justify-content: center;*/ /*Можно сделать так*/
	text-align: center;
	border: 1px solid black; 
	/*position: relative;*/		
	
}
.section_1
{
	margin-top: 25px;
	margin-bottom: 10px;
}
.section_2
{
	margin-bottom: 10px;
}
.grid_repair_item
{
	opacity: 1.0;
	text-align: center;
}
.grid_repair_item:hover
{
	opacity: 0.7;
}
.one-section
{
	display: inline-block; /*Или можно сделать так , так будет при увеличении нормально будет*/ 
	width: 500px;
    /*height: 900px;*/
	margin: 15px;
	background-color: #c2c0c0;
	
}
.text_1
{
	
	height: 250px; /*Увеличивает блоки с текстом*/
}
.text_2
{
	height: 307px; /*Увеличивает блоки с текстом*/
}
.one-section:hover
{
	background: rgba(0, 0, 0, 0.3);
	color: white;
	transition: 1.0s;
}	
p
{
	font-size: 25px;
	text-align: left;
	padding: 0px 17px;
}
.li
{
	font-size: 25px;
	text-align: left;
	padding: 0px 17px;
}
.main_p /*Названия блоков*/
{
	font-size: 35px;
	font-weight: 900;
}



/*О нас */
#our_advantages
{
	border: 1px solid black;
	margin-bottom: 10px;
}
.icon_item
{
	display: inline-block; /* div(block - элементы) делаем inline элементами*/
	width: 100px;
	height: 100px;
	background-color: #c2c0c0;
	text-align: center; /*Чтобы картинка была по центру фона (по оси X)*/
	border-radius: 50%; /*Делаем фон круглым*/
}
.icon_item_image
{
	/*max-width: 100%;*/
	position: relative;
	top: 50%;
	transform: translateY(-50%); /*По оси Y картинка будет по центру*/
}
.icons
{
	display: -webkit-box; /*Для кроссбраузерности здесь стоит добавить префиксные свойства*/
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row; /*flex элементы должны идти в ряд*/
	
	
}
.icon
{
	width: 33.333%; /*Ширина каждого элемента*/
	border-right: 1px solid black;
	border-top: 1px solid black;
	text-align: center;
	padding: 5px;
}
.icon:nth-of-type(3)  /*в (можно 3n), или можно написать :last-child, или сделать доп.класс(или айди) и написать туда*/ 
{
	border-right: 0px solid black; /*Отменить рамку справа где она двойная(останется одна, из #our_advantages)*/
}
.h3
{
	text-align: center;
	font-size: 30px;
}	
.about_icon_info
{
	font-size: 25px;
	margin-top: 3px; 
	margin-bottom: 3px;
}
.info_h5
{
	font-size: 20px;
}


















