$color: #c2c0c0; /*Переменная - задает цвет для элементов (темно-серый)*/
.header { 
	background-color: $color;
}
.navi ul li a:hover {
	background-color: $color;
}
.mobile_menu:hover {
	background-color: $color;
}
.image_avat {
	background-color: $color;
}
.infoAboutServiceCenter {
	background-color: $color;
}
.one-section {
	background-color: $color;
}
.icon_item {
	background-color: $color;
}
.section_1_tables {
	background-color: $color;
}
.footer {
	background-color: $color;
}






