@charset "UTF-8";
/*$color: #c2c0c0;*/
/*Переменная - задает цвет для элементов (темно-серый)*/
.icon_item {
  background-color: #c2c0c0;
}

.section_1_tables {
  background-color: #c2c0c0;
}

.footer {
  background-color: #c2c0c0;
}

/*mixin - это функция*/
/*dwqdwqdwqqdw*/