@charset "UTF-8";
/*$color: #c2c0c0;*/
/*Переменная - задает цвет для элементов (темно-серый)*/
.icon_item {
  background-color: #c2c0c0;
}

.section_1_tables {
  background-color: #c2c0c0;
}

.footer {
  background-color: #c2c0c0;
}

/*mixin - это функция*/
/*dwqdwqdwqqdw*/
/*Подключили файл с mixin и переменными*/
@media screen and (max-width: 1583px) {
  .content_1200px #with_1912px {
    text-align: center;
  }
  .content_1200px #with_1912px .grid {
    /*display: inline-block;*/
    text-align: center;
  }
}
@media screen and (max-width: 1272px) {
  .wrapper .header {
    text-align: left;
    /* свойство text-align работает только с блочными элементами,*/
  }
  .wrapper .header .content_1200px #sidebar {
    font-size: 30px;
  }
  .wrapper section .navi ul li {
    font-size: 25px;
  }

  .content_1200px #with_1912px .grid .one-section {
    width: 339px;
  }
  .content_1200px #with_1912px .grid .one-section .grid_repair_item {
    width: 339px;
    height: 170px;
  }
  .content_1200px #with_1912px .grid .one-section .text_1 {
    padding: 0;
    /*margin-left: 30px;*/
    height: 160px;
  }
  .content_1200px #with_1912px .grid .one-section .text_1 .main_p {
    font-size: 20px;
    margin: 0;
  }
  .content_1200px #with_1912px .grid .one-section .text_1 .li {
    font-size: 16px;
  }
  .content_1200px #with_1912px .grid .one-section .text_2 {
    padding: 0;
    /*margin-left: 30px;*/
    height: 160px;
  }
  .content_1200px #with_1912px .grid .one-section .text_2 .main_p {
    font-size: 20px;
    margin: 0;
  }
  .content_1200px #with_1912px .grid .one-section .text_2 .li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1085px) {
  .wrapper {
    text-align: center;
  }
  .wrapper .header {
    text-align: left;
    /* свойство text-align работает только с блочными элементами,*/
  }
  .wrapper .header .content_1200px #sidebar {
    font-size: 20px;
  }
  .wrapper .header .content_1200px #sidebar .flex_right {
    display: block;
    text-align: right;
  }
  .wrapper section .navi .nav_mobile_menu {
    display: block;
  }
  .wrapper section .navi #navi-main .line_top_bottom_menu {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
  }
  .wrapper section .navi #navi-main .line_top_bottom_menu li .search_normal {
    display: none;
  }
  .wrapper section .navi .image_avat_normal {
    display: none;
  }
  .wrapper section .navi ul {
    display: none;
    /*По умолчанию меню скрыто*/
  }
  .wrapper section .navi ul li {
    display: block;
    /*Или в столбик - display: block; или в строку display: inline-block;*/
    text-align: left;
  }
  .wrapper section .navi ul li a {
    color: yellow;
    display: block;
    /*Делаем ссылки блочными элементами*/
    padding: 8px 12px;
    /*Сверху снизу по 8 пикселей, справа слева по 12*/
    text-decoration: none;
    /*Чтобы ссылки не подчеркивались*/
    text-transform: uppercase;
    /*Свойство - делает все буквы верхним регистром*/
    position: relative;
  }
  .wrapper section .navi ul li a:hover {
    background-color: #c2c0c0;
  }
  .wrapper section .navi ul li a::before {
    content: "";
    /*Если не задать content, то псевдо-элемент не появится*/
    bottom: 0;
    right: 0;
    /*Указываем что этот элемент будет находиться снизу справа*/
    position: absolute;
    width: 0%;
    /*Займет 100% ширины ссылки*/
    height: 1px;
    background-color: black;
    transition: 0.2s;
  }
  .wrapper section .navi ul li a:hover:before {
    width: 100%;
    left: 0;
  }
  .wrapper section .navi ul li a:hover {
    /*color: blue;*/
    /*background-color: #c2c0c0;*/
    /*box-shadow: inset 0 0 0 3px grey;*/
    transition: 0.05s;
    transform: scale(1.02);
    /*При наведении блок будет увеличиваться*/
    text-decoration: none;
  }
  .wrapper section .navi ul li a:active {
    font-weight: 900;
  }
  .wrapper section .navi .navi-main-open {
    display: inline-block;
    background-color: #c2c0c0;
    margin-left: 25px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .content_1200px #with_1912px .grid .one-section {
    width: 294px;
    font-size: 10px;
  }
  .content_1200px #with_1912px .grid .one-section .text_2 {
    height: 250px;
  }
  .content_1200px #with_1912px .grid .one-section .text_1 {
    display: block;
    padding: 0;
    /*margin-left: 30px;*/
    height: 200px;
  }
  .content_1200px #with_1912px .grid .one-section .text_2 {
    display: block;
    padding: 0;
    /*margin-left: 30px;*/
    height: 200px;
  }
  .content_1200px #with_1912px .grid .one-section .grid_repair_item {
    width: 294px;
    height: 140px;
  }

  .content_1200px {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .content_1200px section .infoAboutServiceCenter {
    font-size: 19px;
    /*margin-top: 5px;*/
    /*margin: 0 25px;*/
  }
  .content_1200px section .infoAboutServiceCenter #a0 {
    font-size: 40px;
  }
  .content_1200px section .infoAboutServiceCenter #a1 {
    font-size: 29px;
    color: black;
  }
  .content_1200px section .infoAboutServiceCenter #a2 {
    font-size: 29px;
    color: black;
  }

  .infoAboutServiceCenterWithSliders {
    display: block;
  }
  .infoAboutServiceCenterWithSliders .page_row {
    width: 100%;
    margin-bottom: 0px;
  }
  .infoAboutServiceCenterWithSliders .page_row .slider {
    margin-bottom: 10px;
  }
  .infoAboutServiceCenterWithSliders .page_row .slider .slider_item {
    padding-top: 53.3%;
  }
  .infoAboutServiceCenterWithSliders .page_row .slider .slider_itemm {
    padding-top: 53.3%;
  }
  .infoAboutServiceCenterWithSliders .page_row .slider .slider_itemmm {
    padding-top: 53.3%;
  }
}