.slider_item 
			{
				background-image: url(images/slide_1.jpg);
				padding-top: 33.7%;
				/*Высота слайдера, автоматически резинится(высота автоматически резинится под ширину)*/
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 1px solid black;
			}
			.slider_itemm 
			{
				background-image: url(/images/slide_2.jpg);
				padding-top: 33.7%;
				/*Это вместо ширины и высоты*/
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 1px solid black;
			}
			.slider_itemmm 
			{
				background-image: url(images/slide_3.png);
				padding-top: 33.7%;
				/*Это вместо ширины и высоты*/
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				border: 1px solid black;
			}