@import "_variables1.scss";
%tdublock{
	text-decoration: underline;
	transition: 0.5s linear; /* Время изменения */
}
body{
	background: map-get($colors, generalBG);
	color: map-get($colors, textcolor);
}
hr{
  	height: 2px;
  	border: 0;
  	background-color: orange;
 }
h2{
	font-size: 30px;
	text-align: center;
}
p{

	word-wrap: normal; /* Перенос слов */ 
	text-align: justify;
	line-height: 120%; /* Высота строки */
}

/* Таблица, Расписание */
table{
	text-align: center;
	margin:auto;
}
caption{
	font-size: 30px;
	margin-bottom: 10px;
}
.main_block{
		max-width: $maxwd;
	    margin-left: auto;
	    margin-right: auto;
	    .info{
			/* постеры */
			border: 2px solid black;
			display: inline-block;
			margin-left:25px;
			margin-bottom: 25px;
			text-align: center;
			box-shadow: 0 0 20px rgba(0,0,0,0.5);
			p{
				text-align: center;
			}
			&:hover{
				box-shadow:
			    1px 1px gray,
		        2px 2px gray,
		        3px 3px gray,
		        4px 4px gray,
		        5px 5px gray;

		    -webkit-transform: translateX(-5px);
		    transform: translateX(-5px);
			}
		}
		.text_info_about_cinema{
			/* О кинотеатре */
			overflow: auto;
			float: left;
			padding: 5px;
			width: 550px;
			height: 400px;
			margin-right: 15px;
			.list{
				list-style-type: none;
				&:before{
				  content: '';
				  background-image: url(../img/icon/mark_yes.svg);
				  background-size: contain;  
				  width: 20px;
				  height: 20px;  
				  display: inline-block; 
				  margin-left: 20px
				  padding 0;
				}
			}
		}
		.feedback{
			/* Обратная связь и т.д */
			margin-right: $fbmargin;
			margin-left:  $fbmargin;
			display: inline-block;
			.a_hyperlink{
				/* гиперссылки */
				color: red;
				&:hover{
					@include cols(orange);
					@extend %tdublock;
					cursor: help;
				}
			}
		}
}
nav {
	display: flex;
	text-align: left;
	background: #141513;
}
.main_menu{
	display: block;
	text-align: center;
	ul{
		.li_menu {
		  display: inline;
		  .img_menu{
				text-decoration: none; /* Убрал не понятное подчеркивание у изображения */
			}
			.a_menu { 
				/* меню */
				text-decoration: none; /*Минус подчеркивание*/
			  	margin-left:30px;
			  	color: white;
			  	font-size: 35px;
			  	&:hover{
			  		@include cols(orange);
			  		@extend %tdublock;
				}
			}

		}
	}

}