@charset "UTF-8";
/*$color: #c2c0c0;*/
/*Переменная - задает цвет для элементов (темно-серый)*/
/*mixin - это функция*/
/*Подключили файл с mixin и переменными*/
@media (max-width: 1200px) {
  main {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  main {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  main {
    max-width: none;
  }
  main #with_1912px .grid {
    display: flex;
    flex-direction: column;
  }
  main #our_advantages .icons {
    display: flex;
    flex-direction: column;
  }
  main #our_advantages .icons .icon {
    flex: 0 1 33.333%;
  }
}
@media screen and (max-width: 1085px) {
  .wrapper section .navi .nav_mobile_menu {
    display: block;
  }
  .wrapper section .navi #navi-main .line_top_bottom_menu {
    border-top: 0px solid black;
    border-bottom: 0px solid black;
  }
  .wrapper section .navi #navi-main .line_top_bottom_menu li .search_normal {
    display: none;
  }
  .wrapper section .navi .image_avat_normal {
    display: none;
  }
  .wrapper section .navi ul {
    display: none;
    /*По умолчанию меню скрыто*/
  }
  .wrapper section .navi ul li {
    display: block;
    /*Или в столбик - display: block; или в строку display: inline-block;*/
    text-align: left;
  }
  .wrapper section .navi ul li a {
    color: yellow;
    display: block;
    /*Делаем ссылки блочными элементами*/
    padding: 8px 12px;
    /*Сверху снизу по 8 пикселей, справа слева по 12*/
    text-decoration: none;
    /*Чтобы ссылки не подчеркивались*/
    text-transform: uppercase;
    /*Свойство - делает все буквы верхним регистром*/
    position: relative;
  }
  .wrapper section .navi ul li a:hover {
    background-color: #c2c0c0;
  }
  .wrapper section .navi ul li a::before {
    content: "";
    /*Если не задать content, то псевдо-элемент не появится*/
    bottom: 0;
    right: 0;
    /*Указываем что этот элемент будет находиться снизу справа*/
    position: absolute;
    width: 0%;
    /*Займет 100% ширины ссылки*/
    height: 1px;
    background-color: black;
    transition: 0.2s;
  }
  .wrapper section .navi ul li a:hover:before {
    width: 100%;
    left: 0;
  }
  .wrapper section .navi ul li a:hover {
    /*color: blue;*/
    /*background-color: #c2c0c0;*/
    /*box-shadow: inset 0 0 0 3px grey;*/
    transition: 0.05s;
    transform: scale(1.02);
    /*При наведении блок будет увеличиваться*/
    text-decoration: none;
  }
  .wrapper section .navi ul li a:active {
    font-weight: 900;
  }
  .wrapper section .navi .navi-main-open {
    display: inline-block;
    background-color: #c2c0c0;
    margin-left: 25px;
    float: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}